<app-banner-top [text]="labels.title_forums" [icon]="'chat'" [bgColor]="'D1EADD'" [textColor]="'004123'"></app-banner-top>


<div class="content">
    <h4>{{labels.title_categories}}</h4>
    <div class="category" *ngFor="let item of categories" (click)="navigate(item.category_metadata.slug)">
        <div class="image">
            <img [src]="item.category_metadata?.file |cdnUrl" alt="">
        </div>

        <div class="text">
            <h5 class="title">
                {{item.category_metadata?.title|capitalize}}
            </h5>
            <div class="description" [innerHTML]="item.category_metadata?.content"></div>
            <!-- <p>
                {{item.text}}
            </p> -->
        </div>

        <div class="info">
            <div class="activity">
                <div class="item">
                    <span class="label">{{labels?.topics}}</span>
                    <span class="data">14</span>
                </div>
                <div class="item">
                    <span class="label">{{labels.users}}</span>
                    <span class="data">
                        <div class="images">
                            <ng-container *ngFor="let forum of item.category_metadata?.forums">
                                <img *ngIf="forum.avatar" [src]="forum.avatar|cdnUrl:50" alt="">
                                <img *ngIf="!forum.avatar" src="assets/images/face0.png" alt="">
                            </ng-container>
                        </div>
                        <ng-container *ngIf="item.category_metadata?.forums">

                        </ng-container>
                        
                        +3
                    </span>
                </div>
                <div class="item">
                    <span class="label">{{labels.activity}}</span>
                    <span class="data">Hoy, 12:45</span>
                </div>
            </div>
            <div class="post">
                <span class="label">{{labels.last_topic}}</span>
                <p class="data">
                    <img src="assets/images/face3.jpg" alt=""> Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                </p>
            </div>
        </div>
    </div>
</div>