.content {
    min-height: 60vh;
    padding: 40px 50px;
    background-image: url(../../../../assets/images/bgpoligon.png);
    background-size: cover;
    background-position: center;
    h4 {
        margin-bottom: 16px;
    }
    .category {
        display: flex;
        border-radius: 5px;
        background: #ffffff;
        box-shadow: 0 0 10px #00000059;
        margin-bottom: 30px;
        overflow: hidden;
        cursor: pointer;
        .image {
            width: 22%;
            img {
                width: 100%;
                height: 100%;
                max-height: 160px;
                object-fit: cover;
            }
        }
        .text {
            width: 34%;
            padding: 0 20px;
            margin: 15px 0;
            // border-top: 20px solid transparent;
            // border-bottom: 20px solid transparent;
            border-right: 1px solid #d7d7d7;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            .title {
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
            }
            .description {
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 0;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                 ::ng-deep p {
                    margin-bottom: 0;
                }
            }
        }
        .info {
            width: 44%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .activity {
                padding: 15px 0;
                margin: 0 20px;
                display: flex;
                justify-content: space-between;
                .item {
                    display: flex;
                    flex-direction: column;
                    &:last-child {
                        align-items: flex-end;
                    }
                    .label {
                        font-weight: 500;
                    }
                    .data {
                        font-size: 14px;
                        color: #555555;
                        display: flex;
                        align-items: center;
                        .images {
                            display: flex;
                            flex-flow: row-reverse;
                            margin-right: 4px;
                            img {
                                border: 1px solid #ffffff;
                                height: 24px;
                                width: 24px;
                                object-fit: cover;
                                border-radius: 100%;
                                margin-left: -12px;
                                &:last-child {
                                    margin-left: 0;
                                }
                            }
                        }
                    }
                }
            }
            .post {
                padding: 15px 0;
                margin: 0 20px;
                border-top: 1px solid #d7d7d7;
                .label {
                    font-weight: 500;
                }
                .data {
                    display: flex;
                    margin-bottom: 0;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    img {
                        height: 24px;
                        width: 24px;
                        object-fit: cover;
                        border-radius: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .content {
        padding: 15px;
        .category {
            flex-wrap: wrap;
            .image {
                width: 30%;
            }
            .text {
                width: 70%;
                margin: 0;
                padding: 8px 15px;
                border-right: none;
                border-bottom: 1px solid #d7d7d7;
                .title {
                    -webkit-line-clamp: 2;
                }
            }
            .info {
                width: 100%;
                .activity,
                .post {
                    padding: 10px 0;
                    margin: 0 15px;
                }
            }
        }
    }
}