<app-modal-session></app-modal-session>
<div class="content">
    <div class="header">
        <div class="logo">
            <img class="image" src="assets/images/logo.png" alt="" (click)="navigate('/inicio')">
        </div>

        <button class="btn openMenu" (click)="toggleMenu()">
            <span class="material-icons">
                menu
            </span>
        </button>

        <div class="menu" [ngClass]="{'show': showMenu}">

            <div class="options1">
                <form class="search input-group" (ngSubmit)="onSubmit()">
                    <input #tag class="input-text" type="text" name="" [placeholder]="labels?.placeholder_search">
                    <div class="input-group-append">
                        <button class="btn" type="submit">
                            <span class="material-icons notranslate">search</span>
                        </button>
                    </div>
                </form>
                <a class="link" (click)="navigate('/ayuda')">
                    <span class="material-icons notranslate">
                        help_outline
                    </span> {{labels?.btn_help}}
                    <!-- <ng-container *ngIf="language==='ES'">
                        Ayuda
                    </ng-container>
                    <ng-container *ngIf="language==='EN'">
                        Help
                    </ng-container> -->
                </a>
                <a class="link" (click)="goProfile()">
                    <ng-container *ngIf="!login">
                        <span class="material-icons notranslate">
                            person_outline
                        </span> {{labels?.btn_account}}
                        <!-- <ng-container *ngIf="language==='ES'">
                            Cuenta
                        </ng-container>
                        <ng-container *ngIf="language==='EN'">
                            Account
                        </ng-container> -->
                    </ng-container>
                    <ng-container *ngIf="login">
                        <img *ngIf="!profile.avatar" src="assets/images/face0.png" alt="">
                        <img *ngIf="profile.avatar" [src]="profile.avatar" alt=""> {{profile?.username}}
                    </ng-container>
                </a>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="material-icons notranslate">
                            language
                        </span>
                    </div>
                    <select *ngIf="languages" class="select" id="inputGroupSelect01" (change)="changeLanguage($event)">
                      <option *ngFor="let item of languages" [value]="item?.abbreviation" [selected]="item.abbreviation===language">
                          {{item?.name}}
                      </option>
                      <!-- <option value="EN">Inglés</option> -->
                    </select>
                </div>
            </div>

            <div class="options2" *ngIf="options">
                <a class="option" *ngFor="let item of options; let i=index" (click)="navigate(item.url)" [ngClass]="{'active': active === i}">
                    <span>{{item.name}}</span>
                </a>
            </div>
        </div>
    </div>
</div>