<app-modal-session></app-modal-session>
<div class="content">
    <div class="header">
        <div class="logo">
            <img class="image" src="assets/images/logo.png" alt="" (click)="navigate('/inicio')">
        </div>

        <button class="btn openMenu" (click)="toggleMenu()">
            <span class="material-icons">
                menu
            </span>
        </button>

        <div class="menu" [ngClass]="{'show': showMenu}">

            <div class="options1">
                <a class="link">
                    <span class="material-icons notranslate">
                        help_outline
                    </span>Ayuda
                </a>
                <a class="link" (click)="goProfile()">
                    <span class="material-icons notranslate">
                        person_outline
                    </span>Cuenta
                </a>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="material-icons notranslate">
                            language
                        </span>
                    </div>
                    <select class="select" id="inputGroupSelect01">
                      <option value="0" selected>Español</option>
                      <option value="1">Inglés</option>
                    </select>
                </div>
            </div>

            <div class="options2">
                <a class="option" *ngFor="let item of options; let i=index" (click)="navigate(item.url)" [ngClass]="{'active': active === i}">
                    <span>{{item.text}}</span>
                </a>
            </div>
        </div>
    </div>
</div>