<app-banner-top [text]="'Calendario'" [icon]="'date_range'" [bgColor]="'0072BC39'" [textColor]="'0072BC'"></app-banner-top>

<iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FBogota&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=ZXMuY28jaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&src=dW5pbGxhbm9zLmVkdS5jb19jbGFzc3Jvb21iYzZlOTZiOUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23795548&color=%230B8043&color=%234a148c"
    frameborder="0" scrolling="no">
</iframe>

<app-events></app-events>
<app-carousel-sponsor></app-carousel-sponsor>