<app-banner-top [text]="content?.title" [icon]="'date_range'" [bgColor]="'0072BC39'" [textColor]="'0072BC'"></app-banner-top>
<iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FBogota&title=EduCasanare&src=ZWR1Y2FzYW5hcmVhcHBzQGdtYWlsLmNvbQ&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=ZXMuY28jaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23039BE5&color=%2333B679&color=%230B8043"
    style="border:solid 1px #d7d7d7" width="800" height="600" frameborder="0" scrolling="no"></iframe>

<!-- <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23039BE5&ctz=America%2FBogota&title=EduCasanare&src=ZWR1Y2FzYW5hcmVhcHBzQGdtYWlsLmNvbQ&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=ZXMuY28jaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23039BE5&color=%2333B679&color=%230B8043"
    width="800" height="600" frameborder="0" scrolling="no"></iframe> -->
<app-events [section]="content?.sections[0]"></app-events>
<app-carousel-sponsor></app-carousel-sponsor>