.content {
  display: flex;
  // margin-bottom: 20px;
  .item {
    width: 100%;
    background-position: center;
    background-size: cover;
    .info {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #00000086;
      padding: 50px 30px;
      span {
        text-align: center;
        font-size: 18px;
        color: #ffffff;
        padding: 4px 10px;
        margin-bottom: 15px;
      }
      a {
        border: 1px solid #ffffff;
        color: #ffffff;
        text-decoration: none;
        padding: 4px 20px;
        border-radius: 6px;
        transition: all 0.2s ease-in-out;
        &:hover {
          background: #ffffff;
          color: #000000;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .content {
    flex-direction: column;
    .item {
      .info {
        padding: 30px 15px;
      }
    }
  }
}
