<div class="content" *ngIf="section.posts.length > 0" [ngStyle]="{'background-image': background}">
    <div class="title">
        <h1 class="text">
            {{section?.title}}
        </h1>
        <div class="line">
        </div>
    </div>
    <div class="contain">

        <div class="info hidden-mobile">
            <div class="item">
                <img *ngIf="post1.image" [src]="post1.image |cdnUrl:200" alt="">
                <p class="text-content" *ngIf="post1.subtitle">
                    <span class="number" *ngIf="post1.title">
                    <span>{{post1.title}}</span>
                    </span> {{post1.subtitle}}
                </p>
            </div>
        </div>
        <div class="info ">
            <div class="item p2">
                <img *ngIf="post1.image" [src]="post1.image |cdnUrl:200" alt="">
                <p class="text-content" *ngIf="post1.subtitle">
                    <span class="number" *ngIf="post1.title">
                    <span>{{post1.title}}</span>
                    </span> {{post1.subtitle}}
                </p>
            </div>
            <div class="item p2" *ngFor="let item of posts">
                <img *ngIf="item.image" [src]="item.image |cdnUrl:200" alt="">
                <p class="text-content" *ngIf="item.subtitle">
                    <span class="number" *ngIf="item.title">
                    <span>{{item.title}}</span>
                    </span> {{item.subtitle}}
                </p>
            </div>
        </div>
    </div>
    <img class="image" src="assets/images/imageboys.png" alt="">

</div>