<div class="content" *ngIf="section?.posts.length > 0" [ngStyle]="{'background-image': background}">
    <div class="title">
        <h1 class="text">
            {{section?.title}}
        </h1>
        <div class="line">
        </div>
    </div>
    <div class="content-cards">

        <ngx-slick-carousel class="carousel-cards" #slickModal="slick-carousel" [config]="slideConfig">

            <div ngxSlickItem *ngFor="let slide of section?.posts" class="slide slide1">
                <div class="track" [ngStyle]="{'background-image': 'url('+slide?.image+')'}">
                    <div class="image"></div>
                    <div class="info">
                        <div class="line"></div>
                        <!-- <h5>{{slide.title}}</h5> -->
                        <div class="text" [innerHTML]="slide?.description|secureHtml"></div>
                    </div>
                </div>
            </div>
        </ngx-slick-carousel>

    </div>

    <!-- <ngx-slick-carousel class="carousel-cards" #slickModal="slick-carousel" [config]="slideConfig">

            <div ngxSlickItem *ngFor="let slide of trainings" class="slide slide1">
                <div class="track" [ngStyle]="{'background-image': 'url('+slide.img+')'}">
                    <div class="image"></div>
                    <div class="info">
                        <div class="line"></div>
                        <h5>{{slide.title}}</h5> 
                        <p>{{slide.text}}</p>
                        <div class="scope">
                            <span *ngIf="slide.scope!=''">
                            <strong>Alcance: </strong>{{slide.scope}}
                            </span>
                            <span *ngIf="slide.hours!=0" class="ml-2">
                            <strong>Horas: </strong>{{slide.hours}}
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </ngx-slick-carousel> -->




    <!-- <div class="title">
        <h1 class="text">
            seminarios y talleres
        </h1>
        <div class="line">
        </div>
    </div>
    <div class="content-cards">
        <div *ngFor="let slide of seminars" class="slide slide2">
            <div class="track" [ngStyle]="{'background-image': 'url('+slide.img+')'}">
                <div class="image"></div>
                <div class="info">
                    <div class="line"></div>
                    
                    <p>{{slide.text}}</p>
                    <div class="scope">
                        <span *ngIf="slide.scope!=''">
                            <strong>Alcance: </strong>{{slide.scope}}
                        </span>
                        <span *ngIf="slide.hours!=0" class="ml-2">
                            <strong>Horas: </strong>{{slide.hours}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>