.content {
    padding: 40px;
    background-image: url(../../../../assets/images/bgpoligondark.png);
    background-size: cover;
    background-position: center;
    .title {
        h1 {
            color: #ffffff;
            text-transform: uppercase;
            font-size: 2vw;
        }
        .line {
            width: 28%;
            border-top: 5px solid #009846;
        }
    }
    .content-cards {
        padding: 20px 0 30px;
        display: flex;
        flex-direction: column;
        .carousel-cards {
            width: 100%;
             ::ng-deep .slick-track {
                display: flex;
            }
             ::ng-deep .slick-prev,
             ::ng-deep .slick-next {
                height: 28px;
                width: 28px;
            }
             ::ng-deep .slick-prev {
                left: -30px;
            }
             ::ng-deep .slick-next {
                right: -30px;
            }
             ::ng-deep .slick-prev:before,
             ::ng-deep .slick-next:before {
                font-size: 28px;
                color: #009846;
            }
        }
        .slide {
            outline: none;
            display: flex;
            justify-content: center;
            height: initial;
            // &.slide1 {
            //     width: 25%;
            // }
            // &.slide2 {
            //     width: 100%;
            // }
        }
        .track {
            width: 92%;
            background-size: cover;
            background-position: center;
            display: flex;
            flex-direction: column;
            border-radius: 4px;
            overflow: hidden;
            .image {
                width: 100%;
                padding-bottom: 60%;
            }
            .info {
                position: relative;
                display: flex;
                flex-direction: column;
                // justify-content: space-between;
                justify-content: center;
                background: #0000008f;
                color: #ffffff;
                height: 100%;
                padding: 15px 10px 4px;
                .line {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 80%;
                    margin: 0 10%;
                    border-top: 4px solid #009846;
                }
                .text {
                    font-size: 14px !important;
                    text-align: center;
                }
                h5 {
                    font-size: 16px;
                    text-align: center;
                    text-transform: uppercase;
                }
                p {
                    font-size: 15px;
                    line-height: 19px;
                    text-align: center;
                    margin-bottom: 15px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                }
                .scope {
                    display: flex;
                    justify-content: space-between;
                    span {
                        font-size: 13px;
                        line-height: 17px;
                        // text-align: center;
                        strong {
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 970px) {
    .content {
        padding: 20px 34px;
        .title {
            margin: 0 -20px;
            .text {
                font-size: 20px;
            }
            .line {
                width: 70%;
            }
        }
        .content-cards {
            padding: 20px 0;
        }
    }
}