<div class="container-ec">
    <app-header *ngIf="pages && !server" class="header" [ngClass]="{'hidden': !showHeader}"></app-header>

    <div class="error" *ngIf="server">
        <img src="assets/images/server.png" alt="">
        <h1>Error {{server.status}}</h1>
        <h4>{{server.message}}</h4>
    </div>

    <div class="content-loading" *ngIf="!pages && !server">
        <app-spinner></app-spinner>
    </div>

    <div class="main-content" *ngIf="pages && !server">
        <router-outlet></router-outlet>
    </div>

    <app-footer *ngIf="pages && !server"></app-footer>

</div>