<app-carousel [section]="content?.sections[0]"></app-carousel>
<app-section-xp [section]="content?.sections[1]"></app-section-xp>
<app-introduction [section]="content?.sections[2]"></app-introduction>

<app-edu-content [section]="content?.sections[3]"></app-edu-content>
<app-comics [section]="content?.sections[4]"></app-comics>
<app-section-forum></app-section-forum>
<app-section-vr [section]="content?.sections[5]"></app-section-vr>
<app-services [section]="content?.sections[6]"></app-services>
<app-section-info [section]="content?.sections[7]"></app-section-info>
<app-section-poll></app-section-poll>
<app-carousel-sponsor></app-carousel-sponsor>