<app-carousel [section]="content?.sections[0]"></app-carousel>

<div class="mt-4">
  <app-edu-content [section]="content?.sections[1]"></app-edu-content>
</div>

<app-services [section]="content?.sections[2]"></app-services>

<app-section-xp [section]="content?.sections[3]"></app-section-xp>
<app-introduction [section]="content?.sections[4]"></app-introduction>

<app-edu-content [section]="content?.sections[5]"></app-edu-content>
<app-comics [section]="content?.sections[6]"></app-comics>
<app-section-forum></app-section-forum>
<app-section-vr [section]="content?.sections[7]"></app-section-vr>

<app-section-info [section]="content?.sections[8]"></app-section-info>
<app-section-poll></app-section-poll>
<app-carousel-sponsor></app-carousel-sponsor>

<app-modal-video></app-modal-video>