<div class="content">
    <h4 class="title">{{labels.title_forums}}</h4>
    <div class="forums">
        <h5>{{labels.last_themes}}</h5>
        <div class="forum" *ngFor="let item of forums">
            <div class="head">
                <img *ngIf="item.forum_metadata.avatar" [src]="item.forum_metadata.avatar|cdnUrl:60" alt="">
                <img *ngIf="!item.forum_metadata.avatar" src="assets/images/face0.png" alt="">
                <div class="info">
                    <span class="username">
                        @{{item.forum_metadata.user}}
                    </span>
                    <span class="date">
                        {{item.forum_metadata.creation_date}}
                    </span>
                </div>
                <!-- <a class="category">
                    En la categoría "{{item.category|capitalize}}"
                </a> -->
            </div>
            <div class="text-forum">
                <p class="title">
                    {{item.forum_metadata.title}}
                </p>
                <p class="text">
                    {{item.forum_metadata.content}}
                </p>
            </div>
        </div>
    </div>
    <div class="botton">
        <button class="btn" (click)="navigateToForums()">
            {{labels?.btn_forums}}
        </button>
    </div>
</div>