.carousel {
  ::ng-deep .carousel-indicators li {
    border: none;
    width: 15px;
    height: 15px;
    border-radius: 10px;
  }
  img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
  .content {
    position: absolute;
    left: 0;
    top: 0;
    width: 48%;
    height: 100%;
    // transform: translateY(-50%);
    color: #ffffff;
    background-image: url(../../../../assets/images/bgblue.png);
    background-size: cover;
    background-position: right;
    padding: 2% 7% 2% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    .title {
      font-size: 24px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    .text {
      text-align: justify;
      font-size: 18px;
      line-height: 20px;
      margin-bottom: 0;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 10;
      -webkit-box-orient: vertical;
      ::ng-deep a {
        font-size: 22px;
        color: #ffffff;
        text-decoration: underline;
        &:hover {
          color: #d7d7d7;
        }
      }
    }
  }
  ::ng-deep .carousel-control-prev,
  ::ng-deep .carousel-control-next {
    width: 5%;
    z-index: 10;
  }
}

.info {
  display: none;
  background: #2182c1;
  .content {
    padding: 15px;
    background-image: url(../../../../assets/images/bgfooter.png);
    background-size: cover;
    background-position: center;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
    .title {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      transition: all 0.3s ease-in-out;
    }
    .text {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 0;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 10;
      -webkit-box-orient: vertical;
    }
  }
}

@media screen and (min-width: 1600px) {
  .carousel {
    img {
      height: 780px;
    }
  }
}

@media screen and (max-width: 700px) {
  .carousel {
    outline: none;
    ::ng-deep .carousel-indicators {
      margin-bottom: -7px;
    }
    img {
      height: 200px;
    }
    .content {
      display: none;
    }
  }
  .info {
    display: flex;
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
