<ngb-carousel *ngIf="slides" class="carousel" (slide)="changeCarousel($event)">
    <ng-template ngbSlide *ngFor="let item of slides">
        <div class="picsum-img-wrapper">
            <img [src]="item.img" alt="">
        </div>
        <div class="carousel-caption content">
            <h5 class="title">{{item.title}}</h5>
            <p class="text">{{item.text}}</p>
        </div>
    </ng-template>
</ngb-carousel>

<div class="info">
    <div class="content">
        <h5 class="title">{{slides[currentSilde].title}}</h5>
        <p class="text">{{slides[currentSilde].text}}</p>
    </div>
</div>