<div class="banner" *ngIf="banner">
    <!-- <img src="assets/images/bgwe.png" alt=""> -->
    <div class="content">
        <h2>
            {{banner[0]?.title}}
        </h2>
        <div class="line"></div>
        <div class="text" [innerHTML]="banner[0].description|secureHtml">
        </div>
        <h4>
            {{banner[1]?.title}}
        </h4>
        <div class="text" [innerHTML]="banner[1].description|secureHtml">
        </div>
    </div>
</div>

<div class="objectives" *ngIf="objectives">
    <div class="content">
        <div class="title">
            <h2>{{objectives?.title}}</h2>
            <div class="line"></div>
        </div>
        <div class="obj" *ngFor="let item of objectives.posts">
            <span class="material-icons icon notranslate">
                check_circle_outline
            </span>
            <div class="text">
                <span>
                    {{item?.title}}: 
                </span>
                <div class="desc" [innerHTML]="item?.description|secureHtml">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="data" *ngIf="dataInterest">
    <div class="item" *ngFor="let item of dataInterest.slice(0,3)">
        <span class="number">{{item?.title}}</span>
        <span class="text">
            {{item?.subtitle}}
        </span>
    </div>
    <!-- <div class="item">
        <span class="number">+9.000</span>
        <span class="text">
            Estudiantes beneficiados
        </span>
    </div>
    <div class="item">
        <span class="number">+999</span>
        <span class="text">
            Lorem ipsum
        </span>
    </div> -->
</div>

<div class="institutions" *ngIf="institutions">
    <h4 class="title">{{institutions?.title}}</h4>
    <div class="content">
        <div class="item" *ngFor="let item of institutions?.posts">
            <!-- <div class="info" [ngStyle]="{'background-image': 'url('+item.img+')'}"> -->
            <div class="info" [ngStyle]="{'background-image': 'url('+urlCdn+item?.image+'?w=200)'}">
                <div class="text">
                    <span class="name">
                        {{item?.title}}
                    </span>
                    <span>
                        {{item?.subtitle}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<app-carousel-sponsor></app-carousel-sponsor>