<div class="content">
    <div class="head">
        <h4 class="title">{{section?.title}}</h4>
        <div class="borde">
            <div class="line"></div>
            <span class="material-icons notranslate">school</span>
            <div class="line"></div>
        </div>
    </div>
    <div class="pills">
        <div class="card" *ngFor="let item of section.posts">
            <img *ngIf="item.image" [src]="item?.image|cdnUrl:200" alt="">
            <img *ngIf="!item.image" src="assets/images/sinImage.png" alt="">
            <div class="card-body">
                <h5 class="title">
                    {{item?.title |capitalize}}
                </h5>
                <div *ngIf="item.description" class="text" [innerHTML]="item.description|secureHtml"></div>
                <!-- <p class="text">
                    {{item.text}}
                </p> -->
                <button class="btn" (click)="navigate(item.slug)">
                    {{labels?.btn_more}}
                </button>
            </div>
        </div>
    </div>
</div>