<div class="content"
    [ngStyle]="{'background-image': section.background_image ? 'url('+url+section.background_image+')' : 'url(assets/images/bgedu.png)'}">
    <div class="head">
        <h4 class="title">{{section?.title}}</h4>
        <div class="borde">
            <div class="line"></div>
            <span class="material-icons notranslate">school</span>
            <div class="line"></div>
        </div>
    </div>
    <div class="pills">
        <div class="card" *ngFor="let item of section.posts">

            <ng-container *ngIf="item?.external_url.includes('youtube'); else image">
                <img *ngIf="item.image" [src]="item?.image|cdnUrl:400" alt="" (click)="navigate(item)">
            </ng-container>

            <ng-template #image>
                <img *ngIf="item.image" [src]="item?.image|cdnUrl:400" alt="" (click)="navigate(item)">
            </ng-template>

            <img *ngIf="!item.image" src="assets/images/sinImage.png" alt="" (click)="navigate(item)">
            <div class="card-body">
                <h5 class="title">
                    {{item?.title |capitalize}}
                </h5>
                <div *ngIf="item.description" class="text" [innerHTML]="item.description|secureHtml"></div>
                <!-- <p class="text">
                    {{item.text}}
                </p> -->
                <button class="btn" (click)="navigate(item)">
                    <ng-container *ngIf="item?.external_url.includes('youtube'); else more">
                        {{labels?.btn_video}}
                    </ng-container>
                    <ng-template #more>
                        {{labels?.btn_more}}
                    </ng-template>
                </button>
            </div>
        </div>
    </div>
</div>