<div class="content">
    <h4>Lista de eventos</h4>
    <div class="content-events">
        <ul class="nav" id="eventTabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="link active" href="#next" data-toggle="tab" role="tab">
                    Proximos
                </a>
                <div class="line"></div>
            </li>
            <li class="nav-item" role="presentation">
                <a class="link" href="#previus" data-toggle="tab" role="tab">
                    Anteriores
                </a>
                <div class="line"></div>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="next" role="tabpanel">
                pproximos eventos
            </div>
            <div class="tab-pane fade" id="previus" role="tabpanel">
                anteriores enevtos
            </div>
        </div>
    </div>
</div>