.content {
    background-image: url(../../../../assets/images/bgpoligon.png);
    background-size: cover;
    background-position: center;
    padding: 30px 50px;
    h4 {
        text-align: center;
        margin-bottom: 20px;
    }
    .content-events {
        display: flex;
        align-items: flex-start;
        .nav {
            display: flex;
            flex-direction: column;
            width: 30%;
            padding: 12px 5px;
            margin-right: 30px;
            background: #ffffff;
            border-radius: 6px;
            box-shadow: 0 0 5px #00000039;
            .nav-item {
                position: relative;
                display: flex;
                .link {
                    font-size: 18px;
                    text-decoration: none;
                    padding: 4px 10px;
                    width: 100%;
                    color: #222222;
                    &.active {
                        color: #0072BC;
                    }
                }
                .line {
                    display: none;
                    position: absolute;
                    top: 10%;
                    right: -5px;
                    height: 80%;
                    border-right: 5px solid #0072BC;
                }
                .link.active~.line {
                    display: block;
                }
            }
        }
        .tab-content {
            width: 100%;
            .error {
                display: flex;
                justify-content: center;
                h5 {
                    margin: 30px 0;
                    text-align: center;
                }
            }
            .event {
                margin-bottom: 30px;
            }
        }
    }
    .pagination {
        display: flex;
        justify-content: center;
        span.notranslate {
            font-size: 17px;
        }
         ::ng-deep .pagination {
            margin-bottom: 0px;
        }
         ::ng-deep .page-item:first-child .page-link,
         ::ng-deep .page-item:last-child .page-link {
            display: flex;
            align-items: center;
        }
         ::ng-deep .page-item.active .page-link {
            background-color: #0072BC;
            border-color: #0072BC;
            color: #ffffff;
        }
         ::ng-deep .page-link {
            // background: transparent;
            box-shadow: 0 0 5px #00000039;
            color: #555555;
            border-color: #d7d7d7;
            font-size: 16px;
            line-height: 18px;
            padding: 3px 7px;
            border-radius: 4px;
            border: none;
            margin: 0px 2px;
        }
         ::ng-deep .page-link:focus {
            box-shadow: none;
        }
    }
}

@media screen and (max-width: 720px) {
    .content {
        padding: 10px;
        .content-events {
            flex-direction: column;
            .nav {
                flex-direction: row;
                justify-content: center;
                width: fit-content;
                margin: 0 auto 20px;
                .nav-item {
                    flex-direction: column;
                    .link.active {
                        &~.line {
                            top: auto;
                            bottom: -5px;
                            width: 80%;
                            left: 10%;
                            border-right: none;
                            border-bottom: 5px solid #0072BC;
                        }
                    }
                }
            }
            .tab-content .event {
                margin-bottom: 10px;
            }
        }
    }
}