<div class="content">
    <div class="poll">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSexUYhwF3uGx-JUSNKZ3XlW2uEDSSShlFxLVwE93-DDUXVRtw/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
    </div>

    <div class="help">
        <span class="material-icons notranslate icon">
            live_help
        </span>
        <h4>{{labels.title_section_help}}</h4>
        <div class="text">
            <span>{{labels.text_help}}</span>
            <!-- <span>esta sección</span> -->
        </div>
        <div class="links">
            <a (click)="navigateToHelp()">{{labels.link_questions}}</a>
            <a href="https://fdm-bucket.s3.us-east-2.amazonaws.com/media/Manual+instruccional.pdf" target="_blank">{{labels.link_manual}}</a>
            <a (click)="navigateToHelp()">{{labels.link_help}}</a>
        </div>
    </div>
</div>