.content {
  display: flex;
  .poll {
    position: relative;
    display: flex;
    align-items: center;
    width: 65%;
    // padding-bottom: 64%;
    background: #d8ebf6;
    iframe {
      position: absolute;
      top: 40px;
      left: 0;
      width: 100%;
      height: calc(100% - 42px);
    }
  }
  .help {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px 10px;
    .icon {
      font-size: 12vw;
      color: #a1a1a1;
      margin-bottom: 15px;
    }
    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 20%;
      text-align: center;
      margin-bottom: 15px;
    }
    .links {
      display: flex;
      flex-direction: column;
      a {
        color: #0072bc;
        text-decoration: underline;
        margin-bottom: 10px;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 870px) {
  .content {
    flex-direction: column;
    .poll {
      width: 100%;
      padding-bottom: 82%;
      iframe {
        top: 30px;
      }
    }
    .help {
      width: 92%;
      margin: 0 4%;
      padding: 30px 0px;
      border-bottom: 1px solid #d7d7d7;
      .icon {
        margin-bottom: 8px;
      }
      h4 {
        margin-bottom: 20px;
      }
      .text {
        margin-bottom: 20px;
      }
    }
  }
}

@media screen and (max-width: 810px) {
  .content .poll {
    padding-bottom: 95%;
  }
}

@media screen and (max-width: 760px) {
  .content .poll {
    padding-bottom: 100%;
  }
}

@media screen and (max-width: 710px) {
  .content .poll {
    padding-bottom: 110%;
  }
}

@media screen and (max-width: 660px) {
  .content .poll {
    padding-bottom: 120%;
  }
}

@media screen and (max-width: 630px) {
  .content .poll {
    padding-bottom: 130%;
  }
}

@media screen and (max-width: 590px) {
  .content .poll {
    padding-bottom: 150%;
  }
}

@media screen and (max-width: 530px) {
  .content .poll {
    padding-bottom: 180%;
  }
}

@media screen and (max-width: 470px) {
  .content .poll {
    padding-bottom: 200%;
  }
}
