<div class="content">
    <div class="poll">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfohoy1uDhcRNbUL6MF5ZFqCmzB3A96YUolDoMZv7ke-QcXvQ/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
    </div>

    <div class="help">
        <span class="material-icons notranslate icon">
            live_help
        </span>
        <h4>{{labels.title_section_help}}</h4>
        <div class="text">
            <span>{{labels.text_help}}</span>
            <!-- <span>esta sección</span> -->
        </div>
        <div class="links">
            <a (click)="navigateToHelp()">{{labels.link_questions}}</a>
            <a>{{labels.link_manual}}</a>
            <a (click)="navigateToHelp()">{{labels.link_help}}</a>
        </div>
    </div>
</div>