<div class="content">
    <div class="poll">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfohoy1uDhcRNbUL6MF5ZFqCmzB3A96YUolDoMZv7ke-QcXvQ/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
    </div>

    <div class="help">
        <span class="material-icons icon">
            live_help
        </span>
        <h4>¿Tienes alguna duda?</h4>
        <div class="text">
            <span>Resuelve tus dudas en esta sección</span>
            <!-- <span>esta sección</span> -->
        </div>
        <div class="links">
            <a>Preguntas frecuentes</a>
            <a>Manual instruccional</a>
            <a>Ayuda</a>
        </div>
    </div>
</div>