<app-banner-top [text]="content?.title" [icon]="'star_half'" [bgColor]="'D1EADD'" [textColor]="'004123'"></app-banner-top>
<div class="content">
    <div class="top">
        <div class="text" [innerHTML]="content.sections[0]?.description|secureHtml"></div>
        <!-- <p class="text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo nobis dolor accusantium perspiciatis. Accusamus, possimus facere! Voluptatem magni vel sequi voluptatum molestias? Porro hic atque natus labore accusantium esse eveniet. Lorem ipsum dolor
            sit amet consectetur adipisicing elit.
        </p> -->
        <select class="input-group-text" id="" (change)="setFilter($event)">
            <option hidden selected>{{labels.order_by}}</option>
            <option value="new">{{labels.option_recent}}</option>
            <option value="old">{{labels.option_old}}</option>
        </select>
    </div>

    <div class="error" *ngIf="!experiences && error">
        <img src="assets/images/errorRequest.png" alt="">
        <h5>{{labels.error_load}}</h5>
    </div>

    <div class="experiences" *ngIf="experiences">
        <div class="content-card" *ngFor="let item of experiences">
            <div class="card">
                <div class="image">
                    <img [src]="item?.post_metadata.image|cdnUrl:300" alt="">
                </div>
                <div class="card-body">
                    <h6 class="title">
                        {{item?.post_metadata.title |capitalize}}
                    </h6>
                    <span class="date">
                    {{item.post_metadata.creation_date?.split(' ').shift()}}
                </span>
                    <div class="text" *ngIf="item.post_metadata.description" [innerHTML]="item?.post_metadata.description|secureHtml">
                    </div>
                    <!-- <p class="text">
                        {{item.text}}
                    </p> -->
                    <div class="botton">
                        <button class="btn" (click)="navigate('/experiencias/'+item.post_metadata.slug)">
                        + {{labels.btn_information}}
                    </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="pagination" *ngIf="count>12">
        <ngb-pagination [collectionSize]="count" [pageSize]="12" [maxSize]="3" [rotate]="true" (pageChange)="pageChange($event)">

            <ng-template ngbPaginationPrevious>
                <span class="material-icons-outlined notranslate">
                    arrow_back_ios
                </span>
                <span class="d-none d-md-block">{{labels.btn_previous}}</span>
            </ng-template>

            <ng-template ngbPaginationNext>
                <span class="d-none d-md-block">{{labels.btn_next}}</span>
                <span class="material-icons-outlined notranslate">
                    arrow_forward_ios
                </span>
            </ng-template>
        </ngb-pagination>
    </div>
</div>
<app-carousel-sponsor></app-carousel-sponsor>