.content {
    width: 100%;
    position: relative;
    height: 0;
    padding-bottom: 64%;
    .elements {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        .item1,
        .item2 {
            width: 100%;
            height: 50%;
            display: flex;
            .image,
            .text {
                width: 50%;
                height: 100%;
                padding: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                .title {
                    color: #ffffff;
                    font-weight: normal;
                    border: 1px solid #ffffff;
                    border-radius: 5px;
                    padding: 2px 8px;
                }
                .content-text {
                    // border: 1px dashed #ffffff;
                    position: relative;
                    width: 100%;
                    height: 100%;
                    padding: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    p {
                        z-index: 1;
                        font-size: 14px;
                        line-height: 18px;
                        margin-bottom: 0;
                        max-height: 100%;
                        overflow: hidden;
                        // display: -webkit-box;
                        // -webkit-line-clamp: 12;
                        // -webkit-box-orient: vertical;
                    }
                    .box1 {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 30%;
                        padding-bottom: 30%;
                        border-left: 1px solid;
                        border-top: 1px solid;
                    }
                    .box2 {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        width: 30%;
                        padding-top: 30%;
                        border-right: 1px solid;
                        border-bottom: 1px solid;
                    }
                }
            }
        }
        .item1 {
            .image {
                background-image: url(../../../../assets/images/bgrv.png);
                background-size: cover;
                background-position: center;
            }
            .text {
                background: #0072BC;
                color: #ffffff;
            }
        }
        .item2 {
            .image {
                background-image: url(../../../../assets/images/bgen.png);
                background-size: cover;
                background-position: center;
            }
            .text {
                background-image: url(../../../../assets/images/bgen2.png);
                background-size: cover;
                background-position: center;
            }
        }
    }
}