<div class="content">
    <div class="elements">
        <div class="item1">
            <div class="image">
                <h4 class="title">
                    Realidad Virtual
                </h4>
            </div>
            <div class="text">
                <div class="content-text">

                </div>
            </div>
        </div>
        <div class="item2">
            <div class="text">
                <div class="content-text">

                </div>
            </div>
            <div class="image">
                <h4 class="title">
                    Economía Naranja
                </h4>
            </div>
        </div>
    </div>
</div>