.banner {
    background-image: url(../../../../assets/images/category1.png);
    background-size: cover;
    background-position: center;
    .content {
        width: 80%;
        padding: 5% 28% 5% 30px;
        background-image: url(../../../../assets/images/bgcategory.png);
        background-size: 100% 100%;
        color: #ffffff;
        .title {
            padding-bottom: 5px;
            margin-bottom: 15px;
            border-bottom: 4px solid #ffffff;
        }
        .text {
            margin-bottom: 0;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 8;
            -webkit-box-orient: vertical;
             ::ng-deep p {
                margin-bottom: 0;
            }
        }
    }
}

.forums {
    min-height: 60vh;
    padding: 40px 50px;
    background-image: url(../../../../assets/images/bgpoligon.png);
    background-position: center;
    background-size: cover;
    .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        .btn {
            display: flex;
            align-items: center;
            background: #106738;
            color: #ffffff;
            box-shadow: none;
            &:hover {
                background: #158348;
            }
            span {
                font-size: 20px;
                margin-right: 5px;
            }
        }
        .input-group-text {
            text-align: start;
            font-size: 16px;
            padding: 5px 30px 5px 5px;
            background-color: white;
            width: fit-content;
            border: 1px solid #c8c8c8;
            outline: none;
        }
    }
    .content {
        .forum {
            background: #ffffff;
            margin-bottom: 30px;
            padding: 20px;
            padding-left: 30px;
            border-radius: 5px;
            box-shadow: 0 0 10px #00000059;
            overflow: hidden;
            &.borde {
                border-left: 5px solid #106738;
            }
            .head-forum {
                display: flex;
                margin-bottom: 12px;
                img {
                    height: 40px;
                    width: 40px;
                    object-fit: cover;
                    border-radius: 100%;
                    border: 1px solid #d7d7d7;
                }
                .info {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 0 10px;
                    .date {
                        font-size: 13px;
                        line-height: 16px;
                        color: #555555;
                    }
                }
                .bottons {
                    display: flex;
                    margin-left: auto;
                    .btn {
                        display: flex;
                        padding: 5px;
                        height: fit-content;
                        box-shadow: none;
                        &:hover {
                            color: #106738;
                        }
                    }
                }
            }
            .text-forum {
                display: flex;
                flex-direction: column;
                .title {
                    width: fit-content;
                    text-align: start;
                    font-size: 16px;
                    font-weight: bold;
                    margin-bottom: 0px;
                    cursor: pointer;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                }
                .text {
                    font-size: 15px;
                    line-height: 21px;
                    margin-bottom: 0;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                }
                .comments {
                    margin-top: 10px;
                    margin-left: auto;
                    display: flex;
                    align-items: center;
                    color: #555555;
                    cursor: pointer;
                    .icon {
                        font-size: 18px;
                        margin-right: 4px;
                    }
                    .number {
                        font-size: 14px;
                    }
                }
            }
        }
        .pagination {
            display: flex;
            justify-content: center;
            span.notranslate {
                font-size: 17px;
            }
             ::ng-deep .pagination {
                margin-bottom: 0px;
            }
             ::ng-deep .page-item:first-child .page-link,
             ::ng-deep .page-item:last-child .page-link {
                display: flex;
                align-items: center;
            }
             ::ng-deep .page-item.active .page-link {
                background-color: #0072BC;
                border-color: #0072BC;
                color: #ffffff;
            }
             ::ng-deep .page-link {
                box-shadow: 0 0 8px #00000039;
                color: #555555;
                border-color: #d7d7d7;
                font-size: 16px;
                line-height: 18px;
                padding: 3px 7px;
                border-radius: 4px;
                border: none;
                margin: 0px 2px;
            }
             ::ng-deep .page-link:focus {
                box-shadow: none;
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .banner .content {
        padding: 3% 28% 3% 15px;
    }
    .forums {
        padding: 15px;
        .head {
            flex-direction: column;
            align-items: flex-end;
            .input-group-text {
                margin-top: 10px;
            }
        }
        .content {
            .forum {
                padding: 12px;
            }
        }
    }
}