<div class="content">
    <div class="main">
        <div class="info" *ngIf="menu">
            <div class="options" *ngFor="let item of menu">
                <h5>{{item.name}}</h5>
                <a *ngFor="let option of item.children">{{option.name}}</a>
                <!-- <a>Información del proyecto</a>
                <a>Patrocinadores</a> -->
            </div>
            <!-- <div class="options">
                <h5>Contacto</h5>
                <a>
                    <span class="material-icons-outlined notranslate">
                    email
                    </span>contacto@educa.com
                </a>
                <a>
                    <span class="material-icons-outlined notranslate">
                        phone
                    </span>(8) 6443243
                </a>
                <a>
                    <span class="material-icons notranslate">
                        whatsapp
                    </span>+57 3214929822
                </a>
            </div>
            <div class="options">
                <h5>Ayuda</h5>
                <a>Preguntas frecuentes</a>
                <a>Manual instruccional</a>
                <a>Buzón de sugerencias</a>
            </div> -->
        </div>
        <div class="services">
            <img src="assets/images/vectorFooter.png" alt="">
            <div class="bottons">
                <h5 class="title">{{labels?.title_download}}</h5>
                <div class="btns">
                    <button>
                        <img src="assets/images/icon-apple.png" alt="">
                        <div class="text">
                            <span class="text1">{{labels?.btn_ios}}</span>
                            <span class="text2">App Store</span>
                        </div>
                    </button>
                    <button>
                        <img src="assets/images/icon-play.png" alt="">
                        <div class="text">
                            <span class="text1">{{labels?.btn_android}}</span>
                            <span class="text2">Google Play</span>
                        </div>
                    </button>
                </div>
                <h6 class="title t2">Simulador de Pruebas Saber 3°, 5°, 9° y 11°</h6>
                <div class="btns">
                    <button>
                        {{labels?.btn_simulator}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="bottom">
        <div class="logo">
            <img src="assets/images/logoCato.png" alt="">
        </div>
        <div class="text">
            <span>&copy; 2021 Todos los derechos reservados</span>
        </div>
    </div> -->
</div>