<div class="card">
    <span class="date">
        {{event?.calendar_date}}
    </span>
    <h5 class="title">
        {{event?.title |capitalize}}
    </h5>
    <div class="location">
        <!-- <span class="material-icons-outlined icon notranslate">
            location_on
        </span> -->
        <span class="text">{{event?.subtitle}}</span>
    </div>
    <div class="text" *ngIf="event.description" [innerHTML]="event.description"></div>
    <!-- <p class="text">
        {{event?.text}}
    </p> -->
    <div class="bottom">
        <p class="tags"><strong>{{labels.title_tags}}:</strong> {{tags}}</p>
        <!-- <div class="assistants">
            
            <span class="material-icons icon notranslate">
                groups
            </span>
            <span class="text">{{event?.assistants}} Asistentes</span>
        </div> -->
        <!-- <button class="btn">
            Asistiré
        </button> -->
    </div>
</div>