::ng-deep.modal-comic .modal-dialog {
    max-width: 53vh !important;
    max-height: 100vh !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto !important;
}

::ng-deep.modal-comic .modal-dialog .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    height: 95vh;
    max-height: 95vh;
    overflow-y: hidden;
}

.modal-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border-radius: 5px;
    padding: 0;
    overflow: hidden;
}

.head {
    background: #0072BC;
    display: flex;
    border-bottom: 3px solid #d8ebf6;
    .options {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        padding: 4px;
        .option {
            display: flex;
            flex-direction: column;
            align-items: center;
            .btn {
                display: flex;
                background: #ffffff;
                color: #0072BC;
                border-radius: 100%;
                padding: 4px;
                margin: 1px 12px;
                box-shadow: none;
                span {
                    font-size: 22px;
                }
            }
            .text {
                text-transform: capitalize;
                font-size: 12px;
                color: #ffffff;
            }
        }
    }
    .content-close {
        .btn {
            display: flex;
            flex-direction: column;
            align-items: center;
            background: #d8ebf6;
            font-size: 12px;
            line-height: 14px;
            color: #106738;
            padding: 6px;
            border-radius: 0px;
            box-shadow: none;
            span {
                font-size: 32px;
            }
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    .component {
        height: 100%;
        overflow: hidden;
    }
}

.arrows {
    display: flex;
    flex-direction: column;
    background: #004123;
    padding: 10px 30px;
    .bottons {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
        .btn {
            font-size: 14px;
            background: #ffffff;
            color: #0072BC;
            box-shadow: none;
            padding: 2px 12px;
        }
    }
    .progress {
        height: 5px;
        border-radius: 5px;
         ::ng-deep.progress-bar {
            background-color: #0072BC;
        }
    }
}

@media screen and (min-height: 800px) {
     ::ng-deep.modal-comic .modal-dialog {
        max-width: 56vh !important;
    }
}
