<div class="content">

    <div class="headResults" *ngIf="posts">
        <div class="bgcolor" [ngClass]="{'green': posts?.length > 0}">
            <h4 *ngIf="posts?.length > 0">
                {{labels.text_results_1}} {{pagination?.count}} {{labels.text_results_2}} "{{tag.replace('_', ' ')}}"
            </h4>
            <h4 *ngIf="1 > posts?.length">
                {{labels.text_results_3}} "{{tag.replace('_', ' ')}}"
            </h4>
            <span>{{pagination?.count}} {{labels.title_results}}</span>
        </div>
    </div>



    <ng-container *ngIf="realized">

        <ng-container *ngIf="posts?.length > 0; then results else noResults"></ng-container>

        <ng-template #noResults>
            <div class="noResults">
                <div class="newSearch">
                    <h4>{{labels.title_new_search}}</h4>
                    <p>{{labels.text_new_search}}</p>
                    <div class="search input-group">
                        <input #tag class="input-text" type="text" name="" id="" [placeholder]="labels.placeholder_search">
                        <div class="input-group-append">
                            <button class="btn" type="submit" (click)="onSubmit()">
                            <span class="material-icons notranslate">search</span>
                        </button>
                        </div>
                    </div>
                </div>
                <div class="help">
                    <p>
                        {{labels.text_option_help}}
                    </p>
                    <a class="link">{{labels.option_questions}}</a>
                    <a class="link">{{labels.option_manual}}</a>
                    <a class="link" (click)="navigate('/contacto')">{{labels.contact}}</a>
                </div>
            </div>
        </ng-template>
        <ng-template #results>
            <div class="results">
                <div class="post" *ngFor="let item of posts">
                    <div class="image" *ngIf="item.image" (click)="navigatePost(item.slug)">
                        <img class="img" [src]="item.image | cdnUrl:200" alt="">
                    </div>
                    <div class="content-post" [ngClass]="{'right': item.image}">
                        <h5 class="title" *ngIf="item.title" (click)="navigatePost(item.slug)">{{item.title}}</h5>
                        <h5 class="subtitle" *ngIf="item.subtitle" (click)="navigatePost(item.slug)">{{item.subtitle}}</h5>
                        <div class="description" [ngClass]="{'row3': item.subtitle}" *ngIf="item.description" [innerHTML]="item.description|secureHtml"></div>
                        <div class="bottom">
                            <div class="gallery" *ngIf="item.gallery" (click)="navigatePost(item.slug)">
                                <div class="gal" *ngFor="let img of item.gallery.slice(0,5)">
                                    <img class="img" *ngIf="img.type==='PHOTO'" [src]="img.image |cdnUrl: 100" alt="">
                                </div>
                                <div class="plus" *ngIf="item.gallery.length>4">
                                    <span class="material-icons notranslate">add</span>
                                </div>
                            </div>
                            <div class="date">
                                <span>{{item.creation_date.split(' ').shift()}}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pagination" *ngIf="pagination?.count>12">
                    <ngb-pagination [collectionSize]="pagination?.count" [pageSize]="12" [maxSize]="3" [rotate]="true" (pageChange)="pageChange($event)">

                        <ng-template ngbPaginationPrevious>
                            <span class="material-icons-outlined notranslate">
                            arrow_back_ios
                            </span>
                            <span class="d-none d-md-block">{{labels.btn_previous}}</span>
                        </ng-template>

                        <ng-template ngbPaginationNext>
                            <span class="d-none d-md-block">{{labels.btn_next}}</span>
                            <span class="material-icons-outlined notranslate">
                            arrow_forward_ios
                            </span></ng-template>
                    </ngb-pagination>
                </div>
            </div>
        </ng-template>
    </ng-container>

</div>