<app-banner-top [text]="labels?.title_forum" [icon]="'chat'" [bgColor]="'D1EADD'" [textColor]="'004123'"></app-banner-top>

<div class="content">
    <h3 class="title" *ngIf="slugForum === 'nuevo'">{{labels.title_new_forum}}</h3>
    <h3 class="title" *ngIf="slugForum !== 'nuevo'">{{labels.title_edit_forum}}</h3>

    <div class="form" [formGroup]="formForum">
        <p class="category">
            <span>{{labels.label_category}}:</span>{{category?.title}}
        </p>
        <span class="errorTitle" *ngIf="errorTitle">{{errorTitle}}</span>
        <input class="name" type="text" formControlName="title" name="" id="" [placeholder]="labels.placeholder_title">

        <textarea #textArea name="" id="contentForum" formControlName="content" [placeholder]="labels.placeholder_content" [ngStyle]="{'height.px': height}" (input)="setHeight()"></textarea>

        <div class="bottons">
            <div class="file-content">
                <div class="file">
                    <button class="btn upload">
                        <span class="material-icons notranslate icon">
                            attach_file
                        </span>
                        <span  class="label">
                            {{labels.btn_attach}}
                        </span>
                        <input type="file" accept="video/mp4, image/png, image/jpg" (change)="changeFile($event)" title="">
                    </button>
                    <span #label class="name-file"></span>
                </div>
                <span class="text">
                    {{labels.file_suggestion1}}
                </span>
                <span class="text">
                    {{labels.file_suggestion2}}
                </span>
            </div>

            <div class="options">
                <button class="btn cancel" (click)="goToBack()">
                    {{labels.btn_cancel}}
                </button>
                <button class="btn confirm" (click)="sendForum()" [disabled]="formForum.invalid">
                    <span class="material-icons notranslate">
                        publish
                    </span>
                    {{labels.btn_publish}}
                </button>
            </div>
        </div>
    </div>
</div>