<div class="content">
    <h4 class="title">Comics</h4>
    <div class="comics">
        <div class="comic" *ngFor="let item of comics2; let i=index" (click)="openComic(i)">
            <div class="image">
                <img [src]="item.miniature" alt="">
            </div>
            <div class="info">
                <h5 class="title">{{item.title}}</h5>
                <p class="text">{{item.description}}</p>
            </div>
        </div>
    </div>
    <div class="botton">
        <button class="btn" (click)="goComics()">
            Ver comics
        </button>
    </div>
</div>

<app-modal-comic [content]="comics2[selectComic].content"></app-modal-comic>