<div class="content">
    <div class="title">
        <h1 class="text">
            hardware
        </h1>
        <div class="line">
        </div>
    </div>

    <div class="info">
        <div class="item" *ngFor="let item of items">
            <img *ngIf="item.img!==''" [src]="item.img" alt="">
            <p class="text-content">
                <span class="number" *ngIf="item.number!==''">
                    <span>{{item.number}}</span>
                </span> {{item.text}}
            </p>
        </div>
    </div>

</div>