<div class="content" *ngIf="section?.posts.length > 0" [ngStyle]="{'background-image': background}">
    <div class="title">
        <h1 class="text">
            hardware
        </h1>
        <div class="line">
        </div>
    </div>

    <div class="info">
        <div class="item" *ngFor="let item of section?.posts">
            <img *ngIf="item.image!==null" [src]="item.image|cdnUrl:200" alt="">
            <p class="text-content" *ngIf="item.subtitle!==null">
                <span class="number" *ngIf="item.title!==null">
                    <span>{{item.title}}</span>
                </span> {{item.subtitle}}
            </p>
        </div>
    </div>

</div>