<div class="content">
    <h4 class="title">{{post?.title}}</h4>

    <div class="carousel-content" *ngIf="images.length>0">
        <div id="carouselImages" class="carousel slide" data-ride="carousel" data-interval="false">

            <ol class="carousel-indicators">
                <li *ngFor="let item of images; let i=index" data-target="#carouselImages" attr.data-slide-to="{{i}}"
                    [ngClass]="{'active': i==0}"></li>
            </ol>
            <!-- data-interval="10000" -->
            <div class="carousel-inner">
                <div class="carousel-item" *ngFor="let item of images; let i=index" [ngClass]="{'active': i==0}"
                    data-interval="false">
                    <img [src]="item|cdnUrl:600" class="d-block w-100" alt="...">
                </div>
            </div>

            <a class="carousel-control-prev" href="#carouselImages" role="button" data-slide="prev">
                <span class="material-icons notranslate">
                    chevron_left
                </span>
            </a>
            <a class="carousel-control-next" href="#carouselImages" role="button" data-slide="next">
                <span class="material-icons notranslate">
                    chevron_right
                </span>
            </a>
        </div>
    </div>

    <div class="info">
        <div class="date">
            <span>
                {{labels.text_date}}:
            </span>
            <span>
                {{post?.creation_date}}
            </span>
        </div>
        <!-- <p class="text">
            {{text}}
        </p> -->
        <h5 class="subtitle">{{post?.subtitle}}</h5>
        <div class="text" *ngIf="post?.description" [innerHTML]="post?.description|secureHtml"></div>
    </div>
    <!-- <app-carousel-sponsor></app-carousel-sponsor> -->
</div>
<app-carousel-sponsor></app-carousel-sponsor>