/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import "~bootstrap/scss/bootstrap";
html,
body {
    height: 100%;
}

body::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
    width: 10px;
}

body::-webkit-scrollbar-button:increment,
body::-webkit-scrollbar-button {
    display: none;
}

body::-webkit-scrollbar-thumb {
    background-color: #0072BC;
    border-radius: 20px;
}

body::-webkit-scrollbar-track {
    background-color: #D8EBF6;
    border-radius: 10px;
}

body {
    margin: 0;
    font-family: 'Roboto', "Helvetica Neue", sans-serif !important;
}

// .tooltipStyle {
//     .tooltip-inner {
//         background-color: #ffffff;
//         border: 1px solid #000000;
//         color: #000000;
//         padding: 0 5px;
//     }
//     .arrow::before {
//         border-top-color: #106738;
//     }
// }

/* Importing Bootstrap SCSS file. */

@import '~bootstrap/scss/bootstrap';