<div class="content">
    <ng-container *ngIf="post">

        <button class="btn back" type="button" (click)="goBack()">
            <span class="material-icons notranslate">arrow_back</span>
        </button>
        <h4 class="title" *ngIf="post.title">{{post.title}}</h4>
        <span class="date">{{post.creation_date.split(' ').shift()}}</span>
        <div class="image" *ngIf="post.image">
            <img [src]="post.image | cdnUrl:900" alt="">
        </div>
        <h5 class="subtitle" *ngIf="post.subtitle">{{post.subtitle}}</h5>
        <div class="description" *ngIf="post.description" [innerHTML]="post.description | secureHtml"></div>

        <div class="gallery" *ngIf="post.gallery">
            <h5 class="text">Galería:</h5>
            <div class="videos" *ngIf="videos.length>0">
                <div class="content-video" [ngClass]="{'external': !item.online_url}" *ngFor="let item of videos">
                    <ng-container *ngIf="item.online_url; then online else youtube "></ng-container>
                    <ng-template #online>
                        <video class="video" [src]="item?.online_url|cdnUrl" [poster]="item?.image |cdnUrl:500" controls>
                    </video>
                    </ng-template>
                    <ng-template #youtube>
                        <iframe class="video yout" [src]="item?.video_url |youtubeUrl" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
                    </ng-template>
                </div>
            </div>
            <div class="images" *ngIf="photos.length>0">
                <div class="itemImage" *ngFor="let item of photos">
                    <img [src]="item?.image |cdnUrl:800" alt="">
                </div>
            </div>
        </div>
        <div class="tags" *ngIf="tags">
            <h5 class="text">Tags:</h5>
            <div class="content-tags">
                <p>{{tags}}</p>
            </div>
        </div>
    </ng-container>
</div>