<app-banner-top [text]="content?.title" [icon]="'perm_contact_calendar'" [bgColor]="'D1EADD'" [textColor]="'004123'"></app-banner-top>
<div class="bg">
    <div class="content">
        <h4 class="title">{{content.sections[0]?.title}}</h4>
        <div class="contact">
            <form class="form" [formGroup]="formContact">
                <span class="error" *ngIf="errorEmail">{{errorEmail}}</span>
                <input type="email" name="" formControlName="email" [placeholder]="labels.placeholder_email">
                <input type="text" name="" formControlName="name" [placeholder]="labels.placeholder_name">
                <select class="input-group-text" formControlName="subject">
                    <option value="PQRS" selected>{{labels.option_suggestion}}</option>
                    <option value="Solicitud registro docente">{{labels.option_request}}</option>
                </select>
                <span class="error" *ngIf="errorBody">{{errorBody}}</span>
                <textarea name="" formControlName="body" [placeholder]="labels.placeholder_suggestion"></textarea>
                <button class="btn" (click)="sendRequest()" [disabled]="formContact.invalid">
                    {{labels.btn_send}}
                </button>
            </form>
            <div class="info">
                <div class="information" [innerHTML]="information|secureHtml"></div>
                <!-- <p class="location">
                    <span class="material-icons-outlined notranslate">
                        location_on
                    </span> Carrera 01 #00-00 Barrio / Municipio / Departamento
                </p>
                <span class="label">Telefonos:</span>
                <p class="blue">
                    (+57) 000000000 - 0000000
                </p>
                <span class="label">E-mail:</span>
                <p class="blue">
                    contacto@gmail.com
                </p> -->
                <!-- <span class="label">Redes sociales:</span>
                <div class="images">
                    <img src="assets/images/icon-fb.png" alt="">
                    <img src="assets/images/icon-yt.png" alt="">
                    <img src="assets/images/icon-tw.png" alt="">
                    <img src="assets/images/icon-ig.png" alt="">
                </div> -->
            </div>
        </div>
    </div>
</div>