<app-banner-top [text]="'Contacto'" [icon]="'perm_contact_calendar'" [bgColor]="'D1EADD'" [textColor]="'004123'"></app-banner-top>
<div class="bg">
    <div class="content">
        <h4 class="title">{{content.sections[0]?.title}}</h4>
        <div class="contact">
            <div class="form">
                <input type="email" name="" placeholder="Correo electrónico">
                <input type="text" name="" placeholder="Nombre y apellido">
                <select class="input-group-text">
                    <option hidden selected>Selecciona el asunto</option>
                    <option value="1">Sugerencia</option>
                    <option value="2">Solicitud registro docente</option>
                </select>
                <textarea name="" placeholder="Cuentanos tu sugerencia"></textarea>
                <button class="btn">
                    Enviar
                </button>
            </div>
            <div class="info">
                <div class="information" [innerHTML]="information|secureHtml"></div>
                <!-- <p class="location">
                    <span class="material-icons-outlined notranslate">
                        location_on
                    </span> Carrera 01 #00-00 Barrio / Municipio / Departamento
                </p>
                <span class="label">Telefonos:</span>
                <p class="blue">
                    (+57) 000000000 - 0000000
                </p>
                <span class="label">E-mail:</span>
                <p class="blue">
                    contacto@gmail.com
                </p> -->
                <!-- <span class="label">Redes sociales:</span>
                <div class="images">
                    <img src="assets/images/icon-fb.png" alt="">
                    <img src="assets/images/icon-yt.png" alt="">
                    <img src="assets/images/icon-tw.png" alt="">
                    <img src="assets/images/icon-ig.png" alt="">
                </div> -->
            </div>
        </div>
    </div>
</div>