<div class="content" [ngSwitch]="page?.type">
    <div class="comic type0" *ngSwitchCase="0">
        <div class="image" *ngFor="let item of page?.images" (click)="showZoom(item)">
            <img [src]="item + '?w=400'" alt="">
        </div>
    </div>

    <div class="comic type1" *ngSwitchCase="1">
        <div class="image" *ngFor="let item of page?.images" (click)="showZoom(item)">
            <img [src]="item  + '?w=400'" alt="">
            <!-- <button class="btn" (click)="showZoom(item)">
                <span class="material-icons-outlined notranslate">
                    zoom_in
                </span>
            </button> -->
        </div>

    </div>

    <div class="comic type2" *ngSwitchCase="2">
        <div class="top">
            <div class="image" (click)="showZoom(page?.images[0])">
                <img [src]="page?.images[0] + '?w=300'" alt="">
                <!-- <button class="btn" (click)="showZoom(page?.images[0])">
                    <span class="material-icons-outlined notranslate">
                        zoom_in
                    </span>
                </button> -->
            </div>
            <div class="image" (click)="showZoom(page?.images[1])">
                <img [src]="page?.images[1] + '?w=300'" alt="">
                <!-- <button class="btn" (click)="showZoom(page?.images[1])">
                    <span class="material-icons-outlined notranslate">
                        zoom_in
                    </span>
                </button> -->
            </div>
        </div>
        <div class="bottom">
            <div class="image" (click)="showZoom(page?.images[2])">
                <img [src]="page?.images[2] + '?w=400'" alt="">
                <!-- <button class="btn" (click)="showZoom(page?.images[2])">
                    <span class="material-icons-outlined notranslate">
                        zoom_in
                    </span>
                </button> -->
            </div>
        </div>
    </div>

    <div class="comic type3" *ngSwitchCase="3">
        <div class="top">
            <div class="image" (click)="showZoom(page?.images[0])">
                <img [src]="page?.images[0] + '?w=400'" alt="">
                <!-- <button class="btn" (click)="showZoom(page?.images[0])">
                    <span class="material-icons-outlined notranslate">
                        zoom_in
                    </span>
                </button> -->
            </div>
        </div>
        <div class="bottom">
            <div class="image" (click)="showZoom(page?.images[1])">
                <img [src]="page?.images[1] + '?w=300'" alt="">
                <!-- <button class="btn" (click)="showZoom(page?.images[1])">
                    <span class="material-icons-outlined notranslate">
                        zoom_in
                    </span>
                </button> -->
            </div>
            <div class="image" (click)="showZoom(page?.images[2])">
                <img [src]="page?.images[2] + '?w=300'" alt="">
                <!-- <button class="btn" (click)="showZoom(page?.images[2])">
                    <span class="material-icons-outlined notranslate">
                        zoom_in
                    </span>
                </button> -->
            </div>
        </div>
    </div>

    <div class="comic type4" *ngSwitchCase="4">
        <div class="left">
            <div class="image" (click)="showZoom(page?.images[0])">
                <img [src]="page?.images[0] + '?w=300'" alt="">
                <!-- <button class="btn" (click)="showZoom(page?.images[0])">
                    <span class="material-icons-outlined notranslate">
                        zoom_in
                    </span>
                </button> -->
            </div>
        </div>
        <div class="right">
            <div class="image" (click)="showZoom(page?.images[1])">
                <img [src]="page?.images[1] + '?w=300'" alt="">
                <!-- <button class="btn" (click)="showZoom(page?.images[1])">
                    <span class="material-icons-outlined notranslate">
                        zoom_in
                    </span>
                </button> -->
            </div>
            <div class="image" (click)="showZoom(page?.images[2])">
                <img [src]="page?.images[2] + '?w=300'" alt="">
                <!-- <button class="btn" (click)="showZoom(page?.images[2])">
                    <span class="material-icons-outlined notranslate">
                        zoom_in
                    </span>
                </button> -->
            </div>
        </div>
    </div>

    <div class="comic type5" *ngSwitchCase="5">
        <div class="left">
            <div class="image" (click)="showZoom(page?.images[0])">
                <img [src]="page?.images[0] + '?w=300'" alt="">
                <!-- <button class="btn" (click)="showZoom(page?.images[0])">
                    <span class="material-icons-outlined notranslate">
                        zoom_in
                    </span>
                </button> -->
            </div>
            <div class="image" (click)="showZoom(page?.images[1])">
                <img [src]="page?.images[1] + '?w=300'" alt="">
                <!-- <button class="btn" (click)="showZoom(page?.images[1])">
                    <span class="material-icons-outlined notranslate">
                        zoom_in
                    </span>
                </button> -->
            </div>
        </div>
        <div class="right">
            <div class="image" (click)="showZoom(page?.images[2])">
                <img [src]="page?.images[2] + '?w=300'" alt="">
                <!-- <button class="btn" (click)="showZoom(page?.images[2])">
                    <span class="material-icons-outlined notranslate">
                        zoom_in
                    </span>
                </button> -->
            </div>
        </div>
    </div>

    <div *ngSwitchDefault>

    </div>
</div>

<div class="zoom" [ngClass]="{'show': zoom}" (click)="zoom=false; spinner=false">
    <div class="img">
        <div *ngIf="spinner" class="spinner-border" role="status">
        </div>
        <img #imageZoom [src]="imageZoom" alt="imagen ampliada">
    </div>
</div>