<div class="content" [ngSwitch]="page?.type">
    <div class="comic type0" *ngSwitchCase="0">
        <img *ngFor="let item of page?.images" [src]="item" alt="">
    </div>

    <div class="comic type1" *ngSwitchCase="1">
        <img *ngFor="let item of page?.images" [src]="item" alt="">
    </div>

    <div class="comic type2" *ngSwitchCase="2">
        <div class="top">
            <img [src]="page?.images[0]" alt="">
            <img [src]="page?.images[1]" alt="">
        </div>
        <div class="bottom">
            <img [src]="page?.images[2]" alt="">
        </div>
    </div>

    <div class="comic type3" *ngSwitchCase="3">
        <div class="top">
            <img [src]="page?.images[0]" alt="">
        </div>
        <div class="bottom">
            <img [src]="page?.images[1]" alt="">
            <img [src]="page?.images[2]" alt="">
        </div>
    </div>

    <div *ngSwitchDefault>

    </div>
</div>