<div class='main'>
    <div class='block'>
        <div class='item' [ngStyle]="{'background': '#'+color}"></div>
        <div class='item' [ngStyle]="{'background': '#'+color}"></div>
        <div class='item' [ngStyle]="{'background': '#'+color}"></div>
        <div class='item' [ngStyle]="{'background': '#'+color}"></div>
        <div class='item' [ngStyle]="{'background': '#'+color}"></div>
        <div class='item' [ngStyle]="{'background': '#'+color}"></div>
        <div class='item' [ngStyle]="{'background': '#'+color}"></div>
        <div class='item' [ngStyle]="{'background': '#'+color}"></div>
    </div>
</div>